#cloud-config
    hostname: "{{ item.hostname }}"
    coreos:
        etcd2:
            discovery: {{ vault_etcd2_clusters[item.cluster].url }}
            advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
            initial-advertise-peer-urls: http://$private_ipv4:2380
            listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
            listen-peer-urls: http://$private_ipv4:2380
        units:
            - name: "etcd2.service"
              command: "start"
#            - name: "fleet.service"
#              command: "start"
        update:
            reboot-strategy: "{{ vault_etcd2_clusters[item.cluster].strat|default('etcd-lock') }}"
        locksmith:
            window-start: {{ vault_etcd2_clusters[item.cluster].restart|default('Mon 03:00') }}
            window-length: {{ vault_etcd2_clusters[item.cluster].window|default('2H') }}
#        fleet:
#            public-ip: "$private_ipv4"
#            metadata: "role={{ item.role|default('minion') }}"
#        flannel:
#            ip_masq: true
#            interface: eth2
    users:
        - name: "{{ item.owner }}"
{% if global_users[item.owner].sshkeys is defined %}
          ssh-authorized-keys:
{% for i in global_users[item.owner].sshkeys %}
          - {{ i }}
{% endfor %}
{% endif %}
          groups:
            - sudo
{% if item.extra_users is defined %}{% for user in item.extra_users %}
        - name: {{ user.name }}
{% if user.groups is defined %}
          groups:
{% for group in user.groups %}
              - {{ group }}
{% endfor %}
{% endif %}
{% if user.sshkeys is defined %}
          ssh-authorized-keys:
{% for sshkey in user.sshkeys %}
              - {{ sshkey }}
{% endfor %}
{% endif %}
{% endfor %}{% endif %}
    write_files:
        - path: "/etc/resolv.conf"
          permissions: "0644"
          owner: "root"
          content: |
            # Provisioned by cloud-config
            domain {{ domain }}
{% for s in nameservers %}
            nameserver {{ s }}
{% endfor %}
